.gallery {
    position: absolute;
    top: 4%;
    z-index: -1;
}

.gallery li img {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 2.4em;
    background-repeat: no-repeat;
}

.content {
    margin: auto;
    z-index: -1;
}

.mySlides {
    display: none;
}

.me, .github {
    margin: 2%;
    margin-top: 3.6em;
    border: 1px solid black;
    text-align: center;
    padding: 4%;
    background-color: hsla(24, 67%, 57%, 1);
}

.my-name {
    margin: auto;
    height: inherit;
    display: inline-block;
    border: none;
    transform: translateY(25%);
    font-size: 26px;
    font-weight: bold;
    margin-left: 2%;
    text-shadow: 0 0 5px rgb(236, 246, 249);
    color: rgb(60, 45, 31);
}

.hidden, .me, .github {
    display: none;
}

.header {
    height: 50px;
    background-color: hsla(24, 67%, 57%, 1);
    position: fixed;
    top: 0;
    width: 100%;
}

.foot {
    font-size: .5em;
}

.burger {
    font-size: 32px;
    float: right;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transform: translateY(10%);
}

#project-list {
    float: right;
    margin-top: 2%;
    list-style-type: none;
    position: absolute;
}

#slider {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}

#github-projects li {
    color: rgb(60, 45, 31);
}

@media only screen and (min-width: 500px) {
    .project {
        display: none;
    }
    .burger {
        display: none;
    }
}

@media only screen and (min-width: 980px) {
    .projects, .github, .gallery li, .me {
        margin-left: 13%;
        margin-right: 13%;
    }
}
