{% extends 'home.jinja2' %}

{% block content %}

<section>
  <h3 class="entry-title">Add a New Entry:</h2>

  <form class="new_entry" method="POST">
    <p>
      <label for="title">Title: </label>
      <input type="text" name="title">
    </p>
    <br>
    <p class="text">
      <label for="markdown">Entry: </label>
      <textarea type="text" name="markdown"></textarea>
    </p>
    <br>
    <div class="noauth">
      <img class="x" src="{{request.static_url('pyramid_learning_journal:static/x.jpg')}}" alt="x">
      <p class="subtitle">
        You are not authenticated...<br>You may not add or edit an entry.
      </p>
    </div>
  </form>
</section>

{% endblock %}
