
{% extends 'home.jinja2' %}

{% block content%}
  <section>
      <h1>{{ entry.title }}</h1>
      <hr />
      <p>Created {{ entry.created }} </p>
      <p>{{ entry.markdown|safe }}</p>
  </section>
{% endblock %}
