
#main-nav li:hover {
    color: black;
}

#main-nav li a:hover {
    text-shadow: 0 0 5px #E5843A;
}

.me h1, .github h1 a {
    text-shadow: 0 0 5px rgb(236, 246, 249);
    color: rgb(60, 45, 31);
}

.me p {
    color: rgb(60, 45, 31);
}


#main-nav ul {
    display: block;
    float: right;
    list-style-type: none;
    text-align: right;
    font-weight: lighter;
    font-size: 0.8em;
    background: #f1f1f1;
    font-size: 18px;
    margin: auto;
    padding: 4%;
    right: 0;
}
/* #project-list ul {
  background: #f1f1f1;
} */


/*media query goes here for a screen larger than the min-width */
@media only screen and (min-width: 739px) {
    #main-nav {
        display: inline-block;
        height: .5em;
        float: right;
        width: 100%;
    }
    #main-nav ul {
        display: inline-block;
        text-align: center;
        padding: 0;
        vertical-align: middle;
        width: 100%;
        border-top: .5em solid #81766a;
        border-bottom: .5em solid #81766a;
    }
    #main-nav li {
        display: inline-block;
        list-style-type: none;
        margin-right: 2%;
    }
    #project-list, #project-list li, #project-list hr {
        display: block;
        margin: 1%;
    }
    .hidden hr {
        display: none;
    }
    /* #project-list ul li {
      background: linear-gradient(to right, rgba(255,0,0,0), #f1f1f1, #f1f1f1, rgba(255,0,0,0));
    } */
}
