/*some css for mobile view*/

/* -------------------------------------------------------------------------- */
.gallery {
    position: absolute;
    top: 4%;
    z-index: -1;
}

.python {
  font-size: 0.5rem;
  line-height: 0.5rem;
}
.entry-title {
  font-size: 1.75rem;
    font-style: oblique;
}

.gallery li img {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 2.4em;
    background-repeat: no-repeat;
}

.noauth {
  display: flex;
}

.noauth .x {
  height: 1.5rem;
  width: 1rem;
  margin-top: 1.5rem;
}

.content {
    margin: auto;
    z-index: -1;
}

.entries {
  padding: 1rem;
}

section {
  font-size: 0.6rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  overflow: overlay;
}

.mySlides {
    display: none;
}

.me, .github {
    margin: 2%;
    margin-top: 3.6em;
    border: 1px solid black;
    text-align: center;
    padding: 4%;
    background-color: #f1f1f1;
}

.my-name {
    margin: auto;
    height: inherit;
    display: inline-block;
    border: none;
    transform: translateY(25%);
    font-size: 26px;
    font-weight: bold;
    margin-left: 2%;
    text-shadow: 0 0 5px rgb(236, 246, 249);
    color: rgb(60, 45, 31);
}

.hidden, .me, .github {
    display: none;
}

.nav-down {
    height: 50px;
    background-color: hsla(24, 67%, 57%, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.foot {
    font-size: .5em;
}

.burger {
    font-size: 32px;
    float: right;
    margin-top: -0.1rem;
    padding-right: 0;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transform: translateY(10%);
}

.break {
  position: absolute;
  right: 0px;
  height: 1em;
  width: 100%;
  background-color: #807669;
  margin-top: -0.3%;
}

.date{
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

.subtitle {
  font-family: 'Dosis', sans-serif;
  font-style: italic;
  margin-left: .7rem;
  margin-right: .7rem;
  font-size: 22px;
}

ul.plain {
  margin-left: 5rem;
}

.linked {
  position: absolute;
  margin-top: 0;
  right: 2.5rem;
  top: 0.2rem;

}
.ilinked {
  width: 2.3rem;
  z-index: 9999;
}

.ckata {
  position: absolute;
  margin-top: -1.4rem;
  right: 0.5rem;
  /* left: 173px; */
  /* margin-left: 6%; */
}
.kata {
  height: .4rem;
}
.plain {
  font-family: 'Arial Narrow',sans-serif;
  font-weight: lighter;
  text-align: left;
  margin-left: .7rem;
  margin-right: .7rem;
  font-size: 16px;
}

.nav-up {
  top: -86px;
}

#project-list {
    float: right;
    margin-top: 2%;
    list-style-type: none;
    position: absolute;
}

#slider {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}

#github-projects li {
    color: rgb(60, 45, 31);
}

@media only screen and (min-width: 670px) {
  .ilinked {
    width: 3rem;
  }

  section.list {
    font-size: 1rem;
  }
  pre .python {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }

  .linked {
    position: initial;
    float: right;
    margin-top: .5rem;
  }

  .ckata {
    position: initial;
    float: right;
    margin-top: .5rem;
  }
  .kata {
    height: .7rem;
    width: 100%;
  }
}

@media only screen and (min-width: 739px) {
    .project {
      display: none;
    }
    .burger {
      display: none;
    }
    .plain {
      margin-left: 3rem;
      margin-right: 3rem;
      font-size: 18px;
    }
    .linked {
      /* position: initial; */
    }
}

@media only screen and (min-width: 980px) {
    .projects, .list, .entry, .github, .gallery li, .me {
      margin-left: 13%;
      margin-right: 13%;
    }
    .plain {
      margin-left: 3rem;
      margin-right: 3rem;
      font-size: 18px;
    }
    .linked {
      /* margin-left: 5%; */
    }
    .ckata {
      /* margin-left: 5%; */
    }
}
